.about {
    background-color: var(--color-fifth);
    border-bottom: 5px solid var(--color-black-first);
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    max-width: 1080px;
    width: 100%;

    gap: 20px;

    margin-top: 30px;
    padding: 0px 30px;
}

.image {
    height: 240px;
    width: 240px;
    background: url('../../images/me.png') no-repeat left;
    background-size: contain;
    background-color: var(--color-third);
    border-radius: 100%;
    border: 5px solid var(--color-black-first)
    
}

.description {
    font-family: 'Fira Code', monospace, sans-serif;
    font-size: 24px; 
    font-weight: 400; 
    width: 700px;
}

.highlight {
    font-weight: 400;
    text-shadow: 4px 4px var(--color-black-first);
    font-family: "Press Start 2P", monospace, sans-serif;
    color: var(--color-sixth);
    margin: 0 0 20px;
}

@media screen and (max-width: 1020px) {
    .about-wrapper{
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .description {
        font-size: 20px;
    }
}