.footer {
    background-color: var(--color-black-first);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    gap: 40px;
}

.footer .external-icon {
    height: 45px;
}