.footer {
    background-color: var(--color-black-second);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    gap: 40px;
}

.footer .external-icon {
    height: 40px;
}