.header {
    background-color: var(--color-second);
    font-family: 'Fira Code', monospace, sans-serif;

    padding: 0 20px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    width: 100%;
    max-width: 1920px;
    z-index: 1;

    border-bottom: 3px solid var(--color-black-first);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation-mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: block;
    }
}