.projects {
    background-color: var(--color-black-second);
    border-bottom: 5px solid var(--color-sixth);
}

.projects-wrapper {
    margin: 50px 30px 0;
    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 150px;
}