.projects {
    background-color: var(--color-black-second);
}

.projects-wrapper {
    margin: 50px 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1150px;
    gap: 100px 150px;
}