.skills {
    background-color: var(--color-second);
    border-bottom: 5px solid var(--color-sixth);
}

.skills>.skills-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 60px 30px 0;
    gap: 60px;
    max-width: 1100px;
}