.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-top: 50px;

    width: 80%;

    font: normal 400 24px/normal "Fira Code";
} 

.form > .field {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
}