.progressbar {
    width: 368px;
    height: 40px;

    box-sizing: border-box;

    background-color: var(--color-third);
    border: 5px solid var(--color-black-first);
    transition: 0.15s;

}

.progressbar::-webkit-progress-bar {
    background-color: var(--color-third);
}

.progressbar::-moz-progress-bar {
    background-color: var(--color-first);
}

.progressbar::-webkit-progress-value {
    background-color: var(--color-first);
}

.progressbar::-moz-progress-bar:hover {
    background-color: var(--color-first-highlight);
}
.progressbar::-webkit-progress-value:hover {
    background-color: var(--color-first-highlight);
}
