.project {
    height: 280px;
    width: 280px;

    cursor: pointer;

    box-shadow: 10px 10px var(--color-third);
    border: 5px solid var(--color-black-first);

    box-sizing: border-box;

}

.project_layout-1 {
    background-color: var(--color-first);
}
.project_layout-2 {
    background-color: var(--color-second);
}
.project_layout-3 {
    background-color: var(--color-fourth);
}

.project-link {
    height: 100%;
    width: 100%;

    display: grid;
}

.project-icon {
    width: calc(100% - 60px);
    align-self: center;
    justify-self: center;
}