.header>.title {
    color: var(--color-first);
    font-size: 28px;
}

.title {
    color: var(--color-first);
    font-size: 40px;
    transition: transform 200ms;
}

.title:hover {   
    color: var(--color-first-highlight);
    transform: scale(1.08);
}
.title, .sub-title {
    font-family: 'Press Start 2P', monospace, sans-serif;
    text-align: center;
    text-shadow: 4px 4px var(--color-black-first);
}

.box > .title {
    margin-bottom: 12px;
}