body {
    background-color: var(--color-black-first);
    color: var(--color-third);
}

header {
    background-color: var(--color-second);
    font-family: 'Fira Code', monospace, sans-serif;

    border-bottom: 5px solid var(--color-black-first);
    padding: 0 20px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    color: var(--color-first);
    font-size: 28px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav>a {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-third);
    text-decoration: none;
}

nav>a.link {
    margin-right: 30px;
}

.link::before {
    content: "";
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.banner {
    height: 724px;
    background: url("https://www.notion.so/image/https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fa1%2F9d%2F14%2Fa19d149acd516549f0a2ac035b88cd35.gif?table=block&id=bfdfaa65-fb2c-4e04-bce5-083c922f60a9&spaceId=82dfa38e-fd44-4364-994b-00c386fd1032&userId=092ccf60-eb09-4fdb-98c0-ddd840275851&cache=v2") right no-repeat;
    background-size: cover;

}