* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black-first);
    color: var(--color-third);
    font-family: "Press Start 2P", monospace, sans-serif;
}

h2 {
    font-size: 30px;
}