:root {
    --color-first: #D948C1;
    --color-second: #39326B;
    --color-third: #f8f8f2;
    --color-fourth: #5FCDD9;
    --color-fifth: #44475A;
    --color-sixth: #A682FF;
    --color-seventh: #979797;
    
    
    --color-first-highlight: #C720A0;
    --color-fourth-highlight: #41a7b3;

    --color-black-first: #03040C;
    --color-black-second: #212225;
}